<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>Team Randomizer</title>
  </head>
  <body>
    <br>
    <a href="/">
      <div class="container text-center">
        <img class="title logo" src="cc.jpg">
        <h1 class="title">Team Randomizer</h1>
      </div>
    </a>
    <hr>
    <%= yield %>
  </body>
</html>
