<div class="container">
  <div class="col-md-6">
    <form action="/" method="post">
      <label>Number of Teams</label>
      <br>
      <input name="teams" type="number" name="quantity" min="1" class="form-control" placeholder="1" value="1">
      <br>
      <label>Teammates</label>
      <textarea name="members" placeholder="Type in some names" rows="5" class="form-control"></textarea>
      <br>
      <input type="submit" value="Generate" class="btn btn-primary">
    </form>
  </div>
  <div class="col-md-6">
    <% unless @results == nil %>
      <table class="table table-striped">
        <% @results.each do |id, team| %>
          <tr>
            <td style="width:100px"><h4>Team: <%= id %></h4></td>
            <td><p><%= team %></p></td>
          </tr>
        <% end %>
      </table>
      <hr>
      <h4>Number of Teams: <%= @teams %>, Participants: <%= @count %></h4>
    <% else %>
      <div class="empty-box">
        <span class="placeholder">Results Will Be Shown Here</span>
      </div>
    <% end %>
  </div>
</div>
<div class=" container footer text-center">
  <a href="https://github.com/CodeCoreTA/team_randomizer" target="_blank">LINK TO GITHUB REPO HERE</a>
</div>

