<div class="container">
  <div class="col-md-6">
    <form action="/" method="post">
      <label>Number of...</label>
      <br>
      <input name="number" type="number" min="1" class="form-control" placeholder="1" value="1">
      <br>
      <div class="form-group">
        <label for="names">Method: </label>
        <input type="radio" name="method" value="teams" checked="checked"> Teams
        <input type="radio" name="method" value="members"> Members per Team
      </div>
      <label>Teammates:</label>
      <textarea name="members" placeholder="Type in some names" rows="5" class="form-control"></textarea>
      <br>
      <input type="submit" value="Generate" class="btn btn-primary">
    </form>
  </div>
  <div class="col-md-6">
    <br>
    <% if session[:teams] != nil && session[:teams] > session[:member_count] %>
      <div class="alert alert-danger">
        <p class="text-center">You cannot have more team members than teams.</p>
      </div>
    <% elsif session[:results] != nil %>
      <table class="table table-striped">
        <% session[:results].each do |id, team| %>
          <tr>
            <td style="width:100px"><h4>Team: <%= id %></h4></td>
            <td><p><%= team %></p></td>
          </tr>
        <% end %>
      </table>
      <hr>
      <h4>Number of Teams: <%= session[:teams] %>, Participants: <%= session[:member_count] %></h4>
    <% else %>
      <div class="alert alert-info">
        <p class="text-center">Results Will Be Shown Here</p>
      </div>
    <% end %>
  </div>
</div>
<div class="container footer text-center">
  <a href="https://github.com/CodeCoreTA/team_randomizer" target="_blank">LINK TO GITHUB REPO HERE</a>
</div>

